[submodule "3rd-party/range-v3"]
	path = 3rd-party/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd-party/VulkanMemoryAllocator"]
	path = 3rd-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui.git
